@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: #f0f9ff;
  --alt-bg-color: #fff;
  --main-color: #60a5fa;
  --accent-color: #14b8a6;
  --main-text: #111827;
  --faded-text: #6b7280;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
}

.rightbar {
  background-color: var(--main-color);
  color: #fff;
  padding: 2em;
}

.logo {
  font-weight: bold;
  font-size: 2.5em;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 4rem;
}

.logo-icon {
  width: 60px;
  height: 60px;
  background: url("/assets/logo-crown.svg") no-repeat;
}

nav {
  font-size: 1.75em;
  font-weight: bold;
  line-height: 1.7;
}

nav ul li {
  list-style-type: none;
}

.user-nav {
  margin-bottom: 4rem;
}

.leftbar {
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.top-menu {
  grid-area: 1/1/2/3;
}
.projects {
  grid-area: 2/1/4/2;
}
.announcements {
  grid-area: 2/2/3/3;
}
.trending {
  grid-area: 3/2/4/3;
}

.small-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.avatar {
  border-radius: 50%;
  width: 90px;
  height: 90px;
}
