@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: #f0f9ff;
  --alt-bg-color: #fff;
  --main-color: #60a5fa;
  --accent-color: #14b8a6;
  --main-text: #111827;
  --faded-text: #6b7280;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.rightbar {
  background-color: var(--main-color);
}

.leftbar {
  background-color: var(--main-bg-color);
}

.small-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.avatar {
  border-radius: 50%;
  width: 90px;
  height: 90px;
}
