@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: #f0f9ff;
  --alt-bg-color: #fff;
  --main-color: #60a5fa;
  --accent-color: #14b8a6;
  --main-text: #111827;
  --faded-text: #6b7280;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
}

.leftbar {
  background-color: var(--main-color);
  color: #fff;
  padding: 2em;
}

.logo {
  font-weight: bold;
  font-size: 2.5em;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 4rem;
}

.logo-icon {
  width: 60px;
  height: 60px;
  background: url("/assets/logo-crown.svg") no-repeat;
}

nav {
  font-size: 1.75em;
  font-weight: bold;
  line-height: 1.7;
}

nav ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 0.7em;
}

nav ul li:hover {
  transform: scale(0.99);
  color: var(--accent-color);
}

li > img {
  width: 1em;
  height: 1em;
}

.user-nav {
  margin-bottom: 4rem;
}
.rightbar {
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.top-menu {
  grid-area: 1/1/2/3;
}

.search-bar {
  background-color: var(--alt-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3em;
}

.search-input {
  width: 60%;
  display: flex;
  align-items: center;
  gap: 1em;
}

.search-icon {
  height: 1.8em;
}

#search-bar {
  width: 100%;
  height: 3em;
  border: none;
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 1em;
  font-weight: inherit;
}

#search-bar:active,
#search-bar:focus {
  outline: none;
  border: 1px solid var(--main-text);
}

.search-user {
  display: flex;
  align-items: center;
  gap: 2em;
}

.notification-icon {
  height: 1.8em;
}

.small-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.search-bar span {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--main-text);
}

.user-toolbox {
  background-color: var(--alt-bg-color);
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3em 2em;
}

.user {
  display: flex;
  align-items: center;
  color: var(--main-text);
  gap: 1.5em;
}

.user small {
  font-size: 1rem;
  font-weight: bold;
  color: var(--faded-text);
}

.user-btns {
  display: flex;
  gap: 2em;
}

.btn {
  color: #fff;
  background-color: var(--main-color);
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  padding: 0.6em 2em;
  border-radius: 20px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.btn:active,
.btn:focus {
  outline: none;
}

.btn:hover {
  transform: scale(0.98);
}

.projects {
  grid-area: 2/1/4/2;
  padding: 0 1.5rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}

.card-icons {
  display: flex;
  justify-content: end;
  gap: 1em;
}
.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.favorite {
  background: url("/assets/favorite.svg");
}
.watch {
  background: url("/assets/watch.svg");
}
.share {
  background: url("/assets/share.svg");
}

.announcements {
  grid-area: 2/2/3/3;
}
.trending {
  grid-area: 3/2/4/3;
}

.avatar {
  border-radius: 50%;
  width: 90px;
  height: 90px;
}
